{% include "@xtrax/header/header-1.html.twig" %}
<section id="main-banner-page" class="position-relative page-header shop-header section-nav-smooth parallax">
  <div class="overlay overlay-dark opacity-6 z-index-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="page-titles whitecolor text-center padding_top padding_bottom">
          {{ page.inside_header_background }}
        </div>
      </div>
    </div>
    {{ page.breadcrumbs }}
  </div>
</section>
<!--Page Header ends -->
<section id="shop" class="padding">
  <div class="container">
    {{ page.highlighted }}
    {{ page.content }}
    {% if related_products %}
      <div class="row">
        <div class="col-md-12 wow fadeInDown text-center text-md-left">
          <h3 class="heading darkcolor font-light heading_space mt-md-0 mt-3"><span>{{ 'Related'|t }}</span> {{ 'Products'|t }}<span class="divider-left"></span></h3>
        </div>
        {% for i,pd in related_products %}
          {{ pd ? pd|t }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
{% include "@xtrax/footer/footer-1.html.twig" %}
