{% include "@xtrax/header/header-1.html.twig" %}
<!--Page Header-->
<section id="main-banner-page" style="background-image: url({{ contact_background_image }})" class="position-relative page-header contact-header section-nav-smooth parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="page-titles whitecolor text-center padding">
          
        </div>
      </div>
    </div>
    {{ page.breadcrumbs }}
  </div>
</section>
<!--Page Header ends -->
<!-- Contact US -->
<section id="stayconnect1" class="purple-gradient-bg-long position-relative padding noshadow">
  <div class="container noble">
    {{ page.highlighted }}
    <div class="widget py-5">
      <div class="row">
        <div class="col-md-12 text-center wow fadeIn mt-n3" data-wow-delay="300ms">
          
          <div class="col-md-8 offset-md-2 bottom35">
            <p style="color:#fff">{{ contact_description ? contact_description }}</p>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="contact-meta px-2 text-center text-md-left">
            {{ contact_address_info ? contact_address_info|raw }}
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact US ends -->
<!-- map -->
{#<div class="w-100">
  <div id="map" data-lat="{{ contact_lat }}" data-lng="{{ contact_lng }}" class="full-map" data-theme-url="{{ theme_path }}"></div>
</div>#}
{% include "@xtrax/footer/footer-1.html.twig" %}
