<header class="site-header" id="header">
  <nav class="navbar navbar-expand-lg fixed-bottom static-nav">
    <div class="container">
      <a class="navbar-brand" href="{{ path('<front>') }}">
        <img src="{{ logo }}" alt="logo" class="logo-default">
        <img src="{{ logo }}" alt="logo" class="logo-scrolled">
      </a>
      {{ page.one_page_menu }}
    </div>
    <!--side menu open button-->
    <a href="javascript:void(0)" class="d-inline-block sidemenu_btn" id="sidemenu_toggle">
      <span class="bg-dark"></span> <span class="bg-dark"></span> <span class="bg-dark"></span>
    </a>
  </nav>
  <!-- side menu -->
  <div class="side-menu opacity-0 gradient-bg">
    <div class="overlay"></div>
    <div class="inner-wrapper">
      <span class="btn-close btn-close-no-padding" id="btn_sideNavClose"><i></i><i></i></span>
      {{ page.one_page_side_menu }}
      <div class="side-footer w-100">
        {{ page.inside_menu }}
      </div>
    </div>
  </div>
  <div id="close_side_menu" class="tooltip"></div>
  <!-- End side menu -->
</header>
