{{ page.footer_top }}
<footer id="site-footer" class="bgdark padding_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        {{ page.footer_1_col_1 }}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        {{ page.footer_1_col_2 }}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        {{ page.footer_1_col_3 }}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        {{ page.footer_1_col_4 }}
      </div>
    </div>
  </div>
</footer>
