{% include "@xtrax/header/header-1.html.twig" %}
<section id="main-banner-page" class="position-relative page-header parallax section-nav-smooth" style="background: url({{ field_blog_bg ? field_blog_bg }}) no-repeat">
  <div class="overlay overlay-dark opacity-6 z-index-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="page-titles whitecolor text-center padding_top padding_bottom">
          <h2 class="font-xlight">{{ current_title }}</h2>
        </div>
      </div>
    </div>
    {{ page.breadcrumbs }}
  </div>
</section>

<section id="ourblog" class="bglight padding">
  <div class="container">
    {{ page.highlighted }}
    <div class="row">
      <div class="col-lg-8 col-md-7">
        {{ page.content }}
      </div>
      <div class="col-lg-4 col-md-5">
        <aside class="sidebar whitebox mt-5 mt-md-0">
          {{ page.sidebar }}
        </aside>
      </div>
    </div>
  </div>
</section>

{{ page.section_content }}
{% include "@xtrax/footer/footer-1.html.twig" %}
