<header class="site-header" id="header">
  <nav class="navbar navbar-expand-lg transparent-bg bg-transparent darkcolor static-nav mt-sm-4 mt-2">
    <div class="container bg-white border-radius-50 position-relative">
      <a class="navbar-brand pl-2" href="{{ path('<front>') }}">
        <img src="{{ logo }}" alt="logo" class="logo-default">
        <img src="{{ logo }}" alt="logo" class="logo-scrolled">
      </a>
      {{ page.main_menu }}
      <ul class="social-icons social-icons-simple d-lg-inline-block d-none animated fadeInUp mt-0" data-wow-delay="300ms">
        {{ social_networks ? social_networks|raw }}
      </ul>
      <!--side menu open button-->
      <a href="javascript:void(0)" class="d-inline-block d-lg-none sidemenu_btn mr-0" id="sidemenu_toggle">
        <span class="bg-dark"></span> <span class="bg-dark"></span> <span class="bg-dark"></span>
      </a>
    </div>
  </nav>
  <!-- side menu -->
  <div class="side-menu opacity-0 gradient-bg">
    <div class="overlay"></div>
    <div class="inner-wrapper">
      <span class="btn-close btn-close-no-padding" id="btn_sideNavClose"><i></i><i></i></span>
      <nav class="side-nav w-100">
        {{ page.side_menu }}
      </nav>
      <div class="side-footer w-100">
        {{ page.inside_menu }}
      </div>
    </div>
  </div>
  <a id="close_side_menu" href="javascript:void(0);" title="Close!"></a>
  <!-- End side menu -->
</header>
